.section-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
    border: 2px solid #D7C49EFF;
}
.image {
    margin-right:0px;
    align-items: center;
}
h5{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}
.image img {
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}
.content-container {
    margin-left: 20px;
    justify-content:flex-start;
    text-align: justify;
    align-items: flex-start;
    flex-direction: column;
}
@media (max-width: 576px) {
    .section-container {
        flex-direction: column;
        padding: 15px;
    }
    .image, .content {
        width: 100%;
        margin-left: 0;
      
    }
}